/**
 * Headers
 */

.site-title {
  font-family: $ff-two;
  @include relative-font-size(1.9);
  font-weight: 100;
  padding: $spacing-unit;
  margin-bottom: $spacing-unit;
}



.page-title {
  font-family: $ff-two;
  margin-top: 2 * $spacing-unit;
  margin-left: 2 * $spacing-unit;
  font-weight: 100;
  @include relative-font-size(3.125);
}


/**
 * Site footer
 */
.site-footer {
  left: 3*$spacing-unit;
  bottom: $spacing-unit;
  display: inline-block;
  position: fixed;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}



/**
 * Page content
 */
 
.page-container {
  margin-left: 300px;
}

 .navbox {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 27, 27);
  width: 300px;
  position: fixed;
  height: 100%;
}

.page-content {
  padding: 80px;
}

.page-image {
  width: 150px;
  margin-bottom: 40px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  font-weight: 200;
  padding: 10px;
  margin-left: 35px;
}



/**
 * Posts
 */

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: $spacing-unit;
}

.post-content {
  margin-bottom: $spacing-unit;
  color: $brand-color;
}

.post-code {
  font-family: $ff-code;
}

.post-signature {
  font-family: $ff-two;
  font-size: $small-font-size;
  margin-bottom: 3 * $spacing-unit;
  color: $text-color;
}