
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400');

// Define defaults for each variable.

$ff-one: 'Montserrat', sans-serif;
$ff-two: 'Montserrat Alternates', sans-serif;
$ff-code: 'Courier New';
$base-font-family: 'Lato', sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       rgb(192, 147, 147) !default;
$background-color: #fdfdfd !default;
$brand-color:      rgb(36, 27, 27) !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "./base",
  "./layout" 
;
